---
import Layout from "../layouts/Layout.astro";
const pageTitle = "My First Astro Site";
---

<Layout>
    <h1>{pageTitle}</h1>
		<div class="main-content">
			<img src="../src/images/fire.png" alt="焚き火の画像" width="150" height="150">
		</div>
</Layout>

<style>
.main-content {
  text-align: center;
}
</style>