<header>
  <nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  </nav>
</header>

<style>
header {
  text-align: right;
  padding: 5px;
}
nav a {
  line-height: 2rem;
  margin-right: 10px;
}
nav a:hover {
  opacity: 0.7;
  border-bottom: 1px solid #333;
  transition: all 0.5s ease 0s;
}
</style>